<!DOCTYPE html>
<html lang="en">
<head>

<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<link rel="icon" href="assets/images/favicon.png" type="image/png">
<title>COVID - 19</title>

<link rel="stylesheet" href="assets/css/bootstrap.min.css">
<link rel="stylesheet" href="assets/vendors/fontawesome/css/all.css">
<link rel="stylesheet" href="assets/vendors/linearicons/css/linearicons.css">
<link rel="stylesheet" href="assets/vendors/slick/slick.css">
<link rel="stylesheet" href="assets/vendors/slick/slick-theme.css">
<link rel="stylesheet" href="assets/vendors/mCustomScrollbar/jquery.mCustomScrollbar.min.css">

<link rel="stylesheet" href="assets/css/style.css">
<link rel="stylesheet" href="assets/css/responsive.css">
</head>
<body>
<div class="body_wrapper">

<div class="preloader">
<div class="three-bounce">
<div class="one"></div>
<div class="two"></div>
<div class="three"></div>
</div>
</div>


<div class="mobile_canvus_menu">
<div class="close_btn">
<img src="assets/images/icon/close-dark.png" alt>
</div>
<div class="menu_part_lux">
<ul class="menu_list wd_scroll">
<li><a href>Home</a></li>
<li>
<a href>Prevention
<i class="linearicons-chevron-down"></i>
</a>
<ul class="list">
<li><a href="symptom.html">Typical Symptoms</a></li>
<li><a href="symptom-checker.html">Symptom Checker</a></li>
<li><a href="prevention.html">Prevention</a></li>
<li><a href="virus-checker.html">Coronavirus Checker</a></li>
<li><a href="tracker.html">Tracker</a></li>
<li><a href="maintenance.html">Maintenance</a></li>
<li><a href="faq.html">Faqs</a></li>
</ul>
</li>
<li><a href="appointment.html">Appointment</a></li>
<li>
<a href="#">Pages
<i class="linearicons-chevron-down"></i>
</a>
<ul class="list">
<li><a href="about.html">About</a></li>
<li><a href="doctors.html">Doctors</a></li>
<li><a href="sample-right-sidebar.html">Simple Sidebar</a></li>
<li><a href="typography.html">Typhography</a></li>
<li><a href="search.html">Search</a></li>
<li><a href="search-nothing.html">Not Found</a></li>
<li><a href="comingsoon.html">Coming Soon</a></li>
<li class="active"><a href="404.html">Error</a></li>
</ul>
</li>
<li>
<a href>Blog
<i class="linearicons-chevron-down"></i>
</a>
<ul class="list">
<li><a href="blog.html">Blog</a></li>
<li><a href="single-blog.html">Blog Details</a></li>
</ul>
</li>
<li><a href="contact.html">Contact</a></li>
</ul>
</div>
<div class="menu_btm">
<a class="green_btn" href="#"><i class="linearicons-pulse"></i> Symptom Checker</a>
</div>
</div>


<div class="body_capture"></div>
<section class="sidebar_widget scroll_body">
<div class="info_sidebar_inner">
<div class="close_btn">
<img src="assets/images/icon/close.png" alt>
</div>
<ul class="nav info_social">
<li>
<a href="#"><i class="fab fa-facebook"></i></a>
</li>
<li>
<a href="#"><i class="fab fa-twitter"></i></a>
</li>
<li>
<a href="#"><i class="fab fa-instagram"></i></a>
</li>
<li>
<a href="#"><i class="fab fa-youtube"></i></a>
</li>
<li>
<a href="#"><i class="fab fa-vimeo-v"></i></a>
</li>
</ul>
<div class="info_title">
<h2>Get in touch</h2>
<p>If you have any question before we start, please fill below the contact form.</p>
</div>
<form action="#" class="appoinment_form js-form">
<div class="row">
<div class="col-lg-12">
<div class="form-group">
<input class="form-control" type="text" id="name" name="name" placeholder required>
<label><i class="linearicons-user"></i>Your Name</label>
</div>
</div>
<div class="col-lg-12">
<div class="form-group">
<input class="form-control" type="text" id="email" name="email" placeholder required>
<label><i class="linearicons-envelope-open"></i>Your Email
Address</label>
</div>
</div>
<div class="col-lg-12">
<div class="form-group">
<input class="form-control" type="text" id="number" name="number" placeholder required>
<label><i class="linearicons-telephone"></i>Your Phone
Number</label>
</div>
</div>
<div class="col-lg-12">
<div class="form-group">
<textarea name="message" id="message" cols="30" rows="10" class="form-control" required></textarea>
<label><i class="linearicons-document"></i>Your Message</label>
</div>
</div>
<div class="col-lg-12">
<div class="form-group checkbox_field">
<div class="checkbox">
<input type="checkbox" value="None" id="squared2" name="check">
<label class="l_text" for="squared2">I accept the <span>Privacy
Policy</span></label>
</div>
<button type="submit" class="green_btn" name="appoinment" id="appoinment" value="appoinment" data-value="appoinment">
Submit
</button>
</div>
</div>
</div>
 <div class="success-message">
<i class="fa fa-check text-primary"></i> Thank you!. Your message
is successfully sent...
</div>
<div class="error-message">We're sorry, but something went wrong</div>
</form>
<div class="info_footer">
<p>© Copyright
<script>
                            document.write(new Date().getFullYear());
                        </script> Epidemic Organisation Ltd.
</p>
<h6>
Designed with <i class="linearicons-heart"></i>
by <span>creakits</span>
</h6>
</div>
</div>
</section>


<header class="header_area">
<ul class="nav menu_social flex-column">
<li>
<a href="#"><i class="fab fa-facebook"></i></a>
</li>
<li>
<a href="#"><i class="fab fa-twitter"></i></a>
</li>
<li>
<a href="#"><i class="fab fa-instagram"></i></a>
</li>
</ul>
<div class="main_menu">
<div class="container">
<nav class="navbar navbar-expand-lg navbar-light bg-light">
<a class="navbar-brand" href><img src="assets/images/logo.png" srcset="assets/images/logo-2x.png 2x" alt></a>
<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
<span></span>
</button>
<div class="collapse navbar-collapse" id="navbarSupportedContent">
<ul class="nav navbar-nav ml-auto">
<li><a href>Home</a></li>
<li class="dropdown submenu">
<a class="dropdown-toggle" data-toggle="dropdown" href="prevention.html" role="button" aria-haspopup="true" aria-expanded="false">Prevention </a>
<i class="linearicons-chevron-down mobile_dropdown" aria-hidden="true" data-toggle="dropdown"></i>
<ul class="dropdown-menu">
<li class="dropdown submenu">
<a class="dropdown-toggle" data-toggle="dropdown" href="symptom.html" role="button" aria-haspopup="true" aria-expanded="false">Symptoms
<i class="linearicons-chevron-right mobile_dropdown" aria-hidden="true" data-toggle="dropdown"></i>
</a>
<ul class="dropdown-menu">
<li><a href="symptom.html">Typical Symptoms</a></li>
<li><a href="symptom-checker.html">Symptom Checker</a></li>
<li><a href="prevention.html">Prevention</a></li>
<li><a href="virus-checker.html">Coronavirus Checker</a></li>
<li><a href="tracker.html">Tracker</a></li>
</ul>
</li>
 <li><a href="maintenance.html">Maintenance</a></li>
<li><a href="faq.html">FAQS</a></li>
</ul>
</li>
<li><a href="appointment.html">Appointment</a></li>
<li class="dropdown submenu active">
<a class="dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Pages</a>
<i class="linearicons-chevron-down mobile_dropdown" aria-hidden="true" data-toggle="dropdown"></i>
<ul class="dropdown-menu">
<li><a href="about.html">About</a></li>
<li><a href="doctors.html">Doctors</a></li>
<li><a href="sample-right-sidebar.html">Simple Sidebar</a></li>
<li><a href="typography.html">Typhography</a></li>
<li class="dropdown submenu">
<a class="dropdown-toggle" data-toggle="dropdown" href="search.html" role="button" aria-haspopup="true" aria-expanded="false">Search
<i class="linearicons-chevron-right mobile_dropdown" aria-hidden="true" data-toggle="dropdown"></i>
</a>
<ul class="dropdown-menu">
<li><a href="search.html">Search</a></li>
<li><a href="search-nothing.html">Not Found</a></li>
</ul>
</li>
<li><a href="comingsoon.html">Coming Soon</a></li>
<li><a href="404.html">Error</a></li>
</ul>
</li>
<li class="dropdown submenu">
<a class="dropdown-toggle" data-toggle="dropdown" href="blog.html" role="button" aria-haspopup="true" aria-expanded="false">Blog
</a>
<i class="linearicons-chevron-down mobile_dropdown" aria-hidden="true" data-toggle="dropdown"></i>
<ul class="dropdown-menu">
<li><a href="blog.html">Blog</a></li>
<li><a href="single-blog.html">Blog Details</a></li>
</ul>
</li>
<li><a href="contact.html">Contact Us</a></li>
</ul>
<ul class="nav navbar-nav navbar-right">
<li class="checker_btn">
<a href="#"><i class="linearicons-pulse"></i> Symptom Checker</a>
</li>
</ul>
</div>
</nav>
</div>
<div class="right_burger">
<ul class="nav">
<li>
<div class="search_btn" data-toggle="modal" data-target="#exampleModal">
<img src="assets/images/icon/search.png" alt>
</div>
</li>
<li>
<div class="menu_btn">
<img src="assets/images/icon/burger.png" alt>
</div>
</li>
</ul>
</div>
</div>
</header>


<section class="error_area">
<div class="overlay_bg"></div>
<div class="container">
<div class="search_found_text text-center">
<div class="error_text">4<img src="assets/images/covid19.png" alt>4</div>
<h2>Something is wrong</h2>
<p>The page you are looking for was moved, removed, renamed or might never existed.
Try another search or go back to
<a href>Homepage</a>
</p>
<form action="#" class="search-form input-group">
<input type="text" name="search" class="form-control" placeholder="Search">
<span class="input-group-addon"><button type="submit">
<i class="linearicons-magnifier"></i></button>
</span>
</form>
</div>
</div>
</section>


<section class="check_box_two">
<div class="container">
<div class="check_now_area check_now_box">
<div class="row m-0 justify-content-between">
<div class="left">
<div class="media">
<div class="d-flex">
<img src="assets/images/check-4.png" alt>
<img src="assets/images/check-5.png" alt>
<img src="assets/images/check-6.png" alt>
</div>
<div class="media-body">
<h4>Think you might be affected?</h4>
<p>
Try our simple coronavirus checker to find out what you need
to do.
</p>
</div>
</div>
</div>
<div class="right">
<a class="icon_btn" href="#">Check now <i class="linearicons-arrow-right"></i></a>
</div>
</div>
</div>
</div>
</section>


<footer class="footer_area">
<div class="footer_widgets_area pad_top">
<div class="container">
<div class="row">
<div class="col-lg-3 col-md-6 col-sm-6">
<aside class="f_widget contact_widget">
<div class="f_title">
<h3>Contacts</h3>
</div>
<div class="ct_wd_text">
<div class="media">
<div class="d-flex">
<i class="linearicons-telephone"></i>
</div>
<div class="media-body">
<h5>emergency call</h5>
<a href="tel:+8801676790690">
<h4>+61 (8) 8234 3555</h4>
</a>
</div>
 </div>
<div class="media">
<div class="d-flex">
<i class="linearicons-map-marker"></i>
</div>
<div class="media-body">
<p>
78-66 State Route 33,<br>
Brighton VIC 3186, AUSTRALIA
</p>
</div>
</div>
<div class="media">
<div class="d-flex">
<i class="fab fa-skype"></i>
</div>
<div class="media-body">
<a href="skype:md.rocky79">
<h6>Skype ID: <span>epidemic.org</span></h6>
</a>
</div>
</div>
<div class="media">
<div class="d-flex">
<i class="linearicons-envelope-open"></i>
</div>
<div class="media-body">
<a href="/cdn-cgi/l/email-protection#80f2efe3ebf9e2e4b1b9b9b5c0e7ede1e9ecaee3efed">
<h6>Email: <span><span class="__cf_email__" data-cfemail="395150795c49505d5c54505a17564b5e">[email&#160;protected]</span></span></h6>
</a>
</div>
</div>
</div>
</aside>
</div>
<div class="col-lg-3 col-md-6 col-sm-6 col-6">
<aside class="f_widget list_widget">
<div class="f_title">
<h3>Prevention</h3>
</div>
<ul class="nav flex-column">
<li>
<a href="#"><i class="linearicons-radio-button"></i>Typical
Symptoms</a>
</li>
<li>
<a href="#"><i class="linearicons-radio-button"></i>How to
Protect</a>
</li>
<li>
<a href="#"><i class="linearicons-radio-button"></i>How are
spreading</a>
</li>
<li>
<a href="#"><i class="linearicons-radio-button"></i>Meet our
Doctors</a>
</li>
<li>
<a href="#"><i class="linearicons-radio-button"></i>About
Coronavirus</a>
</li>
</ul>
</aside>
</div>
<div class="col-lg-3 col-md-6 col-sm-6 col-6">
<aside class="f_widget list_widget">
<div class="f_title">
<h3>Protection</h3>
</div>
<ul class="nav flex-column">
<li>
 <a href="#"><i class="linearicons-radio-button"></i>Typical
Symptoms</a>
</li>
<li>
<a href="#"><i class="linearicons-radio-button"></i>How to
Protect</a>
</li>
<li>
<a href="#"><i class="linearicons-radio-button"></i>How are
spreading</a>
</li>
<li>
<a href="#"><i class="linearicons-radio-button"></i>Meet our
Doctors</a>
</li>
<li>
<a href="#"><i class="linearicons-radio-button"></i>About
Coronavirus</a>
</li>
</ul>
</aside>
</div>
<div class="col-lg-3 col-md-6 col-sm-6">
<aside class="f_widget about_widget">
<div class="f_title">
<h3>About</h3>
</div>
<p>
The disease was first identified in 2019 in Wuhan, the
capital of Hubei, China, and has since spread globally,
resulting in the 2019–2020 coronavirus pandemic.
</p>
<ul class="nav">
<li>
<a href="#"><i class="fab fa-facebook"></i></a>
</li>
<li>
<a href="#"><i class="fab fa-twitter"></i></a>
</li>
<li>
<a href="#"><i class="fab fa-instagram"></i></a>
</li>
<li>
<a href="#"><i class="fab fa-youtube"></i></a>
</li>
<li>
<a href="#"><i class="fab fa-vimeo-v"></i></a>
</li>
</ul>
</aside>
</div>
</div>
</div>
</div>
<div class="footer_copyright">
<div class="container">
<img src="assets/images/f-logo.png" alt>
<p>© Copyright
<script data-cfasync="false" src="/cdn-cgi/scripts/5c5dd728/cloudflare-static/email-decode.min.js"></script><script>
                            document.write(new Date().getFullYear());
                        </script> Epidemic Organisation Ltd.</p>
<ul class="nav">
<li><a href="#">Term of Use</a></li>
<li><a href="#">Privacy Policy</a></li>
<li><a href="#">Impressum</a></li>
</ul>
<h6>
Designed with <i class="linearicons-heart"></i>
by <span>creakits</span>
</h6>
</div>
</div>
</footer>

</div>
<div class="modal fade search_modal" id="exampleModal" tabindex="-1" role="dialog" aria-hidden="true">
<button type="button" class="close" data-dismiss="modal" aria-label="Close">
<img src="assets/images/icon/close-white.png" alt>
</button>
<div class="modal-dialog" role="document">
<div class="modal-content">
<div class="modal-body">
<div class="input-group">
<input type="text" class="form-control" placeholder="Type here..." aria-label="Recipient's username">
<div class="input-group-append">
<button class="btn btn-outline-secondary" type="button"><i class="linearicons-magnifier"></i></button>
</div>
</div>
</div>
</div>
</div>
</div>


<script src="assets/js/jquery-3.4.1.min.js"></script>
<script src="assets/js/popper.min.js"></script>
<script src="assets/js/bootstrap.min.js"></script>
<script src="assets/vendors/corona-live/dashboard.js"></script>
<script src="assets/vendors/isotop/imagesloaded.pkgd.min.js"></script>
<script src="assets/vendors/isotop/isotope.pkgd.min.js"></script>
<script src="assets/vendors/slick/slick.min.js"></script>
<script src="assets/vendors/scroll-animation/jquery.parallax-scroll.js"></script>
<script src="assets/vendors/mCustomScrollbar/jquery.mCustomScrollbar.concat.min.js"></script>
<script src="assets/js/jquery.validate.min.js"></script>
<script src="assets/js/theme.js"></script>
</body>
</html>