{% extends 'layouts/main.html' %} {% block title %}Contact - CovDec{% endblock %}
{% block content %}

        <section class="breadcrumb_area">
            <div class="container">
                <div class="breadcrumb_text">
                    <h6 class="wow fadeInUp">Contact us</h6>
                    <h3 class="wow fadeInUp" data-wow-delay="0.2s">Get in Touch</h3>
                    <ul class="nav justify-content-center wow fadeInUp" data-wow-delay="0.3s">
                        <li><a href>Home</a></li>
                        <li><a href="contact.html">Contact</a></li>
                    </ul>
                </div>
            </div>
        </section>


        <section class="contact_area">
            <div class="container">
                <div class="row contact_details">
                    <div class="col-lg-3 col-6">
                        <div class="contact_details_item wow fadeInLeft" data-wow-delay="0.2s">
                            <i class="linearicons-map-marker"></i>
                            <h4>Address</h4>
                            <p>78-66 State Route 33, Brighton VIC 3186, AUSTRALIA</p>
                        </div>
                    </div>
                    <div class="col-lg-3 col-6">
                        <div class="contact_details_item  wow fadeInLeft" data-wow-delay="0.3s">
                            <i class="linearicons-home4"></i>
                            <h4>Our Office</h4>
                            <p>Level 13, 2 Elizabeth St., Melbourne, VIC 3000, AUSTRALIA</p>
                        </div>
                    </div>
                    <div class="col-lg-3 col-6">
                        <div class="contact_details_item  wow fadeInLeft" data-wow-delay="0.4s">
                            <i class="linearicons-telephone"></i>
                            <h4>Phone</h4>
                            <a href="tel:+8801676790690">
                                <h6>Office: +61 (8) 8234 3555</h6>
                            </a>
                            <a href="tel:+8801676790690">
                                <h6>Service: +61 (3) 7734 7857</h6>
                            </a>
                        </div>
                    </div>
                    <div class="col-lg-3 col-6">
                        <div class="contact_details_item  wow fadeInLeft" data-wow-delay="0.5s">
                            <i class="linearicons-envelope-open"></i>
                            <h4>Email</h4>
                            <a href="/cdn-cgi/l/email-protection#2e5c414d45574c4a1f17171b6e49434f4742004d4143">
                                <h6><span class="__cf_email__"
                                        data-cfemail="aedddbdedec1dcdaeecbdec7cacbc3c7cd80c1dcc9">[email&#160;protected]</span>
                                </h6>
                            </a>
                            <a href="/cdn-cgi/l/email-protection#fb8994989082999fcac2c2cebb9c969a9297d5989496">
                                <h6><span class="__cf_email__"
                                        data-cfemail="086061486d78616c6d65616b26677a6f">[email&#160;protected]</span>
                                </h6>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="contact_form_inner">
                    <form class="row contact_us_form appoinment_form js-form">
                        <div class="col-lg-4">
                            <div class="form-group">
                                <input class="form-control" type="text" id="name" name="name" placeholder required>
                                <label class="top_text"><i class="linearicons-user"></i>Your Name</label>
                            </div>
                        </div>
                        <div class="col-lg-4">
                            <div class="form-group">
                                <input class="form-control" type="text" id="email" name="email" placeholder required>
                                <label class="top_text"><i class="linearicons-envelope-open"></i>Your Email
                                    Address</label>
                            </div>
                        </div>
                        <div class="col-lg-4">
                            <div class="form-group">
                                <input class="form-control" type="text" id="number" name="number" placeholder required>
                                <label class="top_text"><i class="linearicons-telephone"></i>Your Phone
                                    Number</label>
                            </div>
                        </div>
                        <div class="col-lg-12">
                            <div class="form-group">
                                <textarea name="message" id="message" cols="30" rows="10" class="form-control"
                                    required></textarea>
                                <label class="top_text"><i class="linearicons-pencil4"></i>Your Message</label>
                            </div>
                        </div>
                        <div class="col-lg-12">
                            <div class="form-group checkbox_field">
                                <div class="checkbox">
                                    <input type="checkbox" value="None" id="policy" name="check">
                                    <label class="l_text" for="policy">I accept the <span>Privacy Policy</span> and
                                        the
                                        <span>Term of Use.</span></label>
                                </div>
                                <button type="submit" value="submit" class="green_btn">
                                    Send Message
                                </button>
                            </div>
                        </div>
                        <div class="success-message">
                            <i class="fa fa-check text-primary"></i> Thank you!. Your message
                            is successfully sent...
                        </div>
                        <div class="error-message">We're sorry, but something went wrong</div>
                    </form>
                </div>
            </div>
        </section>


        <section class="map_area">
            <div id="mapBox" class="mapBox row m0" data-lat="40.701083" data-lon="-74.1522848" data-zoom="12"
                data-marker="/static/images/map-marker.png" data-info="54B, Tailstoi Town 5238 La city, IA 522364"
                data-mlat="40.701083" data-mlon="-74.1522848">
            </div>
        </section>


        <section class="subscribe_area">
            <div class="container">
                <div class="row">
                    <div class="col-lg-6">
                        <div class="media">
                            <div class="d-flex">
                                <i class="linearicons-mailbox-full"></i>
                            </div>
                            <div class="media-body">
                                <h4>Subscribe our newsletter</h4>
                                <p>
                                    Join our subscribers list to get latest news and updates
                                    about COVID-19 delivered directly in your inbox.
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="mail_box">
                            <div class="input-group">
                                <input type="text" class="form-control" placeholder="&#xe997; Enter your email"
                                    aria-label="Recipient's username" aria-describedby="button-addon2">
                                <div class="input-group-append">
                                    <button class="btn btn-outline-secondary" type="button" id="button-addon2">
                                        <i class="linearicons-arrow-right"></i>
                                    </button>
                                </div>
                            </div>
                            <label class="container-checkbox">I accept the <span>Privacy Policy.</span>
                                <input type="checkbox">
                                <span class="checkmark"></span>
                            </label>
                        </div>
                    </div>
                </div>
            </div>
        </section>
{% endblock %}


{% block script %}
    <script src="/static/js/jquery-3.4.1.min.js"></script>
    <script src="/static/js/popper.min.js"></script>
    <script src="/static/js/bootstrap.min.js"></script>
    <script src="/static/vendors/corona-live/dashboard.js"></script>
    <script src="/static/vendors/isotop/imagesloaded.pkgd.min.js"></script>
    <script src="/static/vendors/isotop/isotope.pkgd.min.js"></script>
    <script src="/static/vendors/slick/slick.min.js"></script>
    <script src="/static/vendors/animate-css/wow.min.js"></script>
    <script src="/static/vendors/scroll-animation/jquery.parallax-scroll.js"></script>
    <script src="/static/vendors/mCustomScrollbar/jquery.mCustomScrollbar.concat.min.js"></script>

    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCEQhXdvO2Yz16kSBaeBzLt7wWRkECXmlg"></script>
    <script src="/static/js/gmaps.min.js"></script>
    <script src="/static/js/map-active.js"></script>

    <script src="/static/js/jquery.validate.min.js"></script>
    <script src="/static/js/theme.js"></script>
{% endblock %}