{% extends 'layouts/main.html' %} {% block title %}CovDev{% endblock %} 
{% block meta %}
<meta property="og:type" content="website" />
<meta property="og:title" content="CovDec" />
<meta property="og:description" content="Covid 19 Detector Using Deep Learning Model" />
<meta property="og:image" content="https://lh3.googleusercontent.com/pw/ACtC-3cdpI8x4a93dt4yNVy8B6h026LUUHF6DzFGrWXsgCjdRgk0l0YAMFXAZ67LuTs_t6MmW3p_M83Bw3bo7dAJd_S8-PnjnrUEzo8UaQk0dQ8CqKgXPwpLB8Ren6dstUUPNLdSbSdOy8TJU0tfsURUDnB-=w2770-h1559-no" />
<meta property="og:image:alt" content="Website Error Image" />
<meta property="og:image:width" content="1280" />
<meta property="og:image:height" content="720" />
{% endblock %}
{% block content %}
<main>
    
</main>
{% endblock %}